@mixin a-tag {
  color: $_PRIMARY;
  font-size: $font-size-small;
  margin-right: $spacing-xsmall;
  margin-left: $spacing-xsmall;
  margin: $spacing-xsmall;
  text-decoration: none;
}

@mixin box-arrow() {
  .arrow-box {
    background: $_WHITE;
    border: 1px solid $_FOG;
  }
  .arrow-box:after, .arrow-box:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
  }
  .arrow-box:before {
    border-color: rgba(223, 227, 232, 0);
    border-bottom-color: $_FOG;
    border-width: 6px;
    margin-left: -6px;
  }
}

@mixin caret-up($backColor) {
  .caret-up {
    position: relative;
    top: 4px;
    left: 4px;
  }

  .caret-up:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 6px solid $_PRIMARY;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  .caret-up:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    border-bottom: 4px solid $backColor;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

@mixin caret-down($backColor) {
  .caret-down {
    position: relative;
    top: 4px;
    left: 4px;
  }

  .caret-down:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 6px solid $_PRIMARY;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  .caret-down:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    border-top: 4px solid $backColor;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}
