<div class="title">Add a Transaction</div>
<label for="tran-amount">Amount</label>
{{bulma-input
  id="tran-amount"
  required="required"
  class="input-amount"
  value=amount
  isSmall=true
  onblur=(action "validateAmount" value="target.value")
  oninput=(action (mut amount) value="target.value")}}
<div class="error-text">{{amountValidationErrors}}</div>

<label for="tran-desc">Description</label>
{{bulma-input
  id="tran-desc"
  required="required"
  class="input-description"
  value=description
  isSmall=true
  onblur=(action "validateDescription" value="target.value")
  oninput=(action (mut description) value="target.value")}}
<div class="error-text">{{descriptionValidationErrors}}</div>

<label for="tran-date">Date</label>
{{pikaday-input
  id="tran-date"
  required="required"
  format='MMM DD, YYYY'
  value=date
  onClose=(action "validateDate")
  onSelection=(action "selectDate")
  class="datepicker"}}
<div class="error-text">{{dateValidationErrors}}</div>

<label for="tran-category">Category</label>
<div class="select-input">
  {{#bulma-select}}
    <select role="listbox" id="tran-category" onchange={{action "selectCategory" value="target.value"}}>
      <option value="">Select category</option>
      {{#each categories as |category|}}
        <option value={{category.guid}}>{{category.name}}</option>
      {{/each}}
    </select>
  {{/bulma-select}}
</div>

<label for="tran-account">Account</label>
<div class="select-input">
  {{#bulma-select}}
    <select role="listbox" id="tran-account" onchange={{action "selectAccount" value="target.value"}}>
      <option value="">Select account</option>
      {{#each accounts as |account|}}
        <option value={{account.name}}>{{account.name}}</option>
      {{/each}}
    </select>
  {{/bulma-select}}
</div>

<label for="tran-memo">NOTE TO SELF</label>
{{bulma-input
  id="tran-memo"
  maxlength=maxMemoChars
  value=memo
  oninput=(action "changeMemo" value="target.value")}}

<div class="buttons">
  <a href="#" role="button" class="button is-primary is-small is-info add-button" {{action "add"}} disabled={{isAddButtonDisabled}}>Add</a>
  <a href="#" role="button" class="button is-small" {{action "cancel"}}>Cancel</a>
</div>
<div>{{remainingChars}} characters left.</div>
