<div class="category-selector-box">
  <div class="search-section">
    <div class="search-title">Search for a category</div>
    {{bulma-input placeholder="Type to search" isSmall=true oninput=(action "filter" value="target.value")}}
  </div>
  <div class="category-list">
    {{#each filteredCategories as |category|}}
      <div class="category-item" onclick={{action "selectCategory" category}}>
        {{category.name}}
      </div>
    {{/each}}
    {{#if allowAddCategory}}
      <div class="add-section">
        {{bulma-input value=newCategoryName placeholder="New category" isSmall=true oninput=(action (mut newCategoryName) value="target.value")}}
        {{bulma-button isSmall=true isInfo=true label="Add" onmousedown=(action "addCategory")}}
      </div>
    {{/if}}
  </div>
</div>
