{{#if editRow}}
  {{bulma-input class="input-description" value=row.description isSmall=true oninput=(action "changeDescription" value="target.value")}}

  <div class="child-row-category">
    <span {{action "showCategorySelector"}}>{{row.category_name}}</span>

    {{#if showCategorySelector}}
      {{#click-outside action=(action "closeCategorySelector")}}
        {{transactions/category-selector
          categories=categories
          allowAddCategory=false
          onCategorySelect=(action "updateCategory")}}
      {{/click-outside}}
    {{/if}}
  </div>

  {{bulma-input class="input-amount" type="number" value=row.amount isSmall=true oninput=(action "changeAmount" value="target.value")}}
{{else}}
  <span>{{row.description}}</span>
  <span>{{row.category_name}}</span>
  <span>{{format-currency row.amount}}</span>
{{/if}}
