<span class="selected-option" {{action "showOptions"}}>
  {{selectedOption}}
  <div class={{caretClass}}></div>
</span>
{{#if showOptions}}
  {{#click-outside action=(action "closeOptions")}}
    <ul class='options'>
      {{#each availOptions as |option|}}
        <li {{action "select" option}}>{{option}}</li>
      {{/each}}
    </ul>
  {{/click-outside}}
{{/if}}
