{{transactions/transaction-short-info row=row}}

<div class="content-title">Exclude Transaction</div>
<div class="content-body">
  <span class="highlight-text">{{row.description}}</span> transaction for
  <span class="highlight-text">{{format-currency row.amount}}</span>
  made on <span class="highlight-text">{{format-date row.date}}</span>
  will be excluded from Net Worth, Transactions, Spending and Income.
</div>
<div class="buttons">
  {{bulma-button class="exclude-button" isSmall=true isInfo=true label="Exclude" onmousedown=(action "exclude" row)}}
  {{bulma-button label="Cancel" isSmall=true onmousedown=(action "cancel")}}
</div>
