<ul onclick={{action "clickItem"}}>
  <li data-action-value="edit">Edit Details</li>
  {{#if noChildRows }}
    <li data-action-value="split">Split Transaction</li>
  {{else}}
    <li data-action-value="edit-split">Edit Split</li>
    <li data-action-value="remove-split">Remove Split</li>
  {{/if}}
  <li data-action-value="exclude">Exclude Transaction</li>
</ul>
