{{transactions/transaction-short-info row=row}}

<div class="content">
  {{#if inValidSplit}}
    <div class="warning">
      Split totals must equal {{row.amount}}.
    </div>
  {{/if}}

  {{#if noSplitFound}}
    <div class="warning">
      A split must have two or more transactions.
    </div>
  {{/if}}

  <div class="original-row">
    <div class="original-category-name">
      <span>Original</span>
      <span>{{row.category_name}}</span>
    </div>
    <div class="original-amount">
      <span>Amount</span>
      <span>{{format-currency row.amount}}</span>
    </div>
  </div>
  <div class="base-split" {{action "showCategorySelector"}}>
    <div class="base-split-category-name">
      <span class="category-name">{{baseCategory.name}}</span>

      {{#if showCategorySelectorBase}}
        {{#click-outside action=(action "closeCategorySelector")}}
          {{transactions/category-selector
            categories=categories
            allowAddCategory=false
            onCategorySelect=(action "updateBaseCategory")}}
        {{/click-outside}}
      {{/if}}
    </div>
    <span>{{format-currency remainingAmount}}</span>
  </div>
  <div class="splits-wrapper">
    {{#each splits as |split index|}}
      <div class="splits">
        <div class="splits-category-name" {{action "showCategorySelector" index}}>
          <span class="category-name">{{split.category_name}}</span>

          {{#if (get-at-index showCategorySelector index)}}
            {{#click-outside action=(action "closeCategorySelector" index)}}
              {{transactions/category-selector
                categories=categories
                allowAddCategory=false
                onCategorySelect=(action "updateCategory" index)}}
            {{/click-outside}}
          {{/if}}
        </div>

        {{bulma-input class="split-input" type="number" value=split.splitAmount isSmall=true oninput=(action "splitAmountChange" index)}}
        {{bulma-button isSmall=true isDanger=true label="Remove" onmousedown=(action "removeSplit" index)}}
      </div>
    {{/each}}
  </div>
  <div class="footer-section">
    <div class="add-split-button">
      <span {{action "addSplit"}}>+ Add Another Split</span>
    </div>
    <span class="total-amount">Total: {{format-currency row.amount}}</span>
    <div class="save-buttons">
      {{bulma-button label="Cancel" isSmall=true onmousedown=(action "cancel")}}
      {{bulma-button disabled=disableSave isSmall=true isInfo=true label="Save Split" onmousedown=(action "save" row)}}
    </div>
  </div>
</div>
