<div class="transactions-filter">
  <div class="action-tags">
    <div class="date-range">
      {{transactions/date-range-selector onSelect=(action "applyFilterByDateRange")}}
    </div>
    <div>
      {{#if hasManualAccount}}
        <a href="#" {{action "showAddTransaction"}}>+Add</a> |
      {{/if}}
      <a href="#" {{action "showSearchOption"}}>Search</a> |
      <a href="#">Download</a>
    </div>
  </div>

  {{#if showSearchOption}}
    <div class="search-area">
      <label>Search</label>
      {{bulma-input id="search-input" placeholder="Type to search" isSmall=true oninput=(action "applyFilterByKeyword" value="target.value")}}
    </div>
  {{/if}}

  {{#if showAddTransaction}}
    {{#bulma-modal show=true onclose=(action "closeAddTransaction")}}
      <div class="box">
        {{transactions/add-transaction
          accounts=accounts
          categories=categories
          onCancel=(action "closeAddTransaction")
          onAdd=(action "addTransaction")}}
      </div>
    {{/bulma-modal}}
  {{/if}}
</div>

{{yield (hash rows=results loading=loading accounts=accounts categories=categories)}}
