<tr class="transaction-table-row">
  <td {{action "showDetails"}}>
    {{#if row.has_been_split }}
      {{!-- TODO: Replace with split icon --}}
      <span style="padding: 1px; font-weight: bold;">s</span>
    {{/if}}
    {{format-date row.date}}
  </td>
  <td {{action "showDetails"}}>{{row.description}}</td>
  <td {{action "showCategorySelector"}} class="category-column">
    {{row.category_name}}
    {{#if showCategorySelector}}
      {{#click-outside action=(action "closeCategorySelector")}}
        {{transactions/category-selector
          categories=categories
          onAddCategory=(action "addCategory")
          onCategorySelect=(action "updateCategory")}}
      {{/click-outside}}
    {{/if}}
  </td>
  <td {{action "showDetails"}}>{{row.account}}</td>
  <td {{action "showDetails"}}>{{format-currency monetaryColumn}}</td>
</tr>
{{#if showDetails}}
  <tr>
    <td colspan=5>
      {{transactions/transaction-details
        row=row
        categories=categories
        onExclude=(action "excludeTransaction")
        onClose=(action "showDetails")
        onSplit=(action "splitTransaction")
        onRequestChildRows=(action "requestChildRows")}}
    </td>
  </tr>
{{/if}}
