{{#if rows.length}}
  <table>
    <thead>
      <tr class="header-row">
        {{#each headers as |header|}}
          {{transactions/transaction-table-header
            header=header
            sortBy=sortBy
            reverseSort=reverseSort
            onClick=(action "sort")}}
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedRows as |row|}}
        {{#if row.parent_guid }}
          {{!-- child rows should be hidden. --}}
        {{else}}
          {{transactions/transaction-table-row
            row=row
            displayPage=displayPage
            categories=categories
            onExclude=(action "excludeTransaction")
            onAddCategory=(action "addCategory")
            onSplit=(action "splitTransaction")
            onRequestChildRows=(action "requestChildRows")}}
        {{/if}}
      {{/each}}
      {{#if showTotal}}
        <tr class="total-amount-row">
          <td colspan={{headers.length}}>
            <div class="total-label">{{showTotalLabel}}</div>
            <div class="total-amount">{{format-currency totalAmount}}</div>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{else}}
  <span class="no-result">{{if loading 'Loading...' 'No search results.'}}</span>
{{/if}}
