<div class="details">
  <img src={{row.logo_url}} alt="">
  <div class="detail-wrapper">
    {{#if editRow}}
      <span class="title-text">Description</span>
      {{bulma-input value=description isSmall=true oninput=(action (mut description) value="target.value")}}

      <span class="title-text">Transaction Date</span>
      {{pikaday-input
        format=dateFormat
        value=date
        onSelection=(action "selectDate")
        theme="dark-theme"
        class="datepicker"}}

      <span class="title-text">Note to self</span>
      {{bulma-input value=memo isSmall=true oninput=(action (mut memo) value="target.value")}}

      <div class="buttons">
        {{bulma-button
          label="Save Changes"
          isSmall=true
          isInfo=true
          onmousedown=(action "update" row)}}
        {{bulma-button
          label="Cancel"
          isSmall=true
          onmousedown=(action "cancelEdit")}}
      </div>
    {{else}}
      <span class="title-text">Description</span>
      <span class="detail-text">{{row.description}}</span>

      <span class="title-text">Transaction Date</span>
      <span class="detail-text">{{format-date row.date}}</span>

      <span class="title-text">Note to self</span>
      <span class="detail-text">{{row.memo}}</span>
    {{/if}}
  </div>
  <div class="manage-transactions">
    <div class="menu">
      <div class="menu-link" onclick={{action "toggleMenu"}}>Manage Transaction</div>
      <div class={{arrowClass}}></div>
    </div>
    {{#if showMenu}}
      {{#click-outside action=(action "closeMenu")}}
        {{transactions/manage-transaction-menu
          onSelect=(action "selectOption" row)
          noChildRows=noChildRows}}
      {{/click-outside}}
    {{/if}}
  </div>
  <a href="#" class="close-button" {{action "close"}}>X</a>
</div>

{{#if childRows}}
  <div class="child-transactions">
    <div class="split-title">Split</div>
    {{#each childRows as |childRow|}}
      {{transactions/child-transaction-row
        editRow=editChildRow
        categories=categories
        row=childRow}}
    {{/each}}

    {{#if editChildRow}}
      <div class="edit-child-buttons">
        {{bulma-button label="Save Changes" isInfo=true isSmall=true onmousedown=(action "updateChildRows")}}
        {{bulma-button label="Cancel" isSmall=true onmousedown=(action "cancelEditChildRows")}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if showExcludeModal}}
  {{#bulma-modal show=true onclose=(action "closeExcludeModal")}}
    <div class="box">
      {{transactions/exclude-transaction-modal
        row=row
        onExclude=(action "excludeTransaction")
        onCancel=(action "closeExcludeModal")}}
    </div>
  {{/bulma-modal}}
{{/if}}

{{#if showSplitModal}}
  {{#bulma-modal show=true onclose=(action "closeSplitModal")}}
    <div class="box">
      {{transactions/split-transaction-modal
        row=row
        categories=categories
        onSplit=(action "splitTransaction")
        onCancel=(action "closeSplitModal")}}
    </div>
  {{/bulma-modal}}
{{/if}}
