.modal-content {
  width: inherit;
}

.box {
  padding: 10px 20px;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  font-size: $font-size-tiny;

  .error-text {
    color: $_STRAWBERRY;
    margin-bottom: 5px;
  }

  .title {
    font-size: $font-size-large;
    padding-bottom: 5px;
    border-bottom: 1px solid $_ASH;
    margin-bottom: 5px;
  }

  label {
    font-size: $font-size-tiny;
    text-transform: uppercase;
  }

  input {
    margin-bottom: 5px;
  }

  .select-input {
    margin-bottom: 10px;

    select {
      width: 300px;
    }
  }

  .input-amount {
    width: 150px;
  }

  .datepicker {
    width: 150px;
    padding: 5px;
  }

  .input-description {
    width: 300px;
  }

  .buttons {
    display: flex;

    .add-button {
      margin-left: 0px;
    }
  }
}
