.category-selector {
  position: absolute;
  top: 22px;
  font-size: $font-size-small;
  z-index: 10;

  .category-selector-box {
    width: 170px;
    background-color: white;

    .search-section {
      padding: 5px;

      .search-title {
        font-size: $font-size-small;
        font-weight: 700;
      }

      input {
        &:focus {
          outline: none;
        }
      }
    }

    .category-list {
      height: 80px;
      overflow: auto;

      .category-item {
        padding: 3px 5px;
        cursor: pointer;

        &:hover {
          background-color: $_FOG;
        }
      }

      .add-section {
        display: flex;
        justify-content: space-around;
        margin-top: 5px;

        input {
          width: 110px;
          margin-bottom: 5px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@include box-arrow();
