.child-transaction-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  .child-row-category {
    cursor: pointer;
    position: relative;
    width: 30%;
  }

  .input-description {
    width: 150px;
  }

  .input-amount {
    width: 80px;
    text-align: right;
  }

  span {
    width: 30%;

    &:nth-child(3) {
      text-align: right;
    }
  }
}
