.date-range-selector {
  position: relative;

  .selected-option {
    display: flex;
    cursor: pointer;

    @include caret-up($_FOG);
    @include caret-down($_FOG);
  }

  .options {
    position: absolute;
    top: 23px;
    left: -5px;
    background-color: $_FOG;
    width: 110px;
    list-style: none;
    padding: 0;
    z-index: 10;

    li {
      cursor: pointer;
      margin-bottom: 4px;
      height: 20px;
      padding: 3px;

      &:hover {
        background-color: white;
      }
    }
  }
}
