.exclude-transaction-modal {
  font-size: $font-size-tiny;

  .content-title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .content-body {
    margin-bottom: 15px;
  }

  .highlight-text {
    font-weight: 700;
  }

  .buttons {
    display: flex;

    .exclude-button {
      margin-right: 10px;
    }
  }
}
