.manage-transaction-menu {
  position: absolute;
  right: -25px;
  top: 17px;
  border: 1px solid $_FOG;
  background-color: white;
  color: $_PRIMARY;
  box-shadow: 2px 2px 3px $_FOG;
  font-size: 8px;
  width: 120px;
  z-index: 10;

  ul {
    list-style: none;
    padding-left: 0px;
    margin: 3px 0px;

    li {
      cursor: pointer;
      margin-bottom: 4px;
      padding: 3px;

      &:hover {
        background-color: $_FOG;
      }
    }
  }
}

.menu-arrow-box {
  background: #fff;
  border: 1px solid $_FOG;
}
.menu-arrow-box:after, .menu-arrow-box:before {
  bottom: 100%;
  left: 87%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu-arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}
.menu-arrow-box:before {
  border-color: rgba(223, 227, 232, 0);
  border-bottom-color: $_FOG;
  border-width: 6px;
  margin-left: -6px;
}
