.split-transaction-modal {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: $font-size-small;

    .category-name {
      cursor: pointer;
    }

    .original-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $_FOG;
      margin-bottom: 20px;

      .original-category-name {
        display: flex;
        flex-direction: column;
      }

      .original-amount {
        display: flex;
        flex-direction: column;
      }
    }

    .warning {
      background-color: $_TOMATO;
      color: $_WHITE;
      font-size: $font-size-tiny;
      text-align: center;
    }

    .base-split {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $_FOG;
      margin-bottom: 5px;

      .base-split-category-name {
        position: relative;
      }
    }

    .splits-wrapper {
      width: 320px;

      .splits {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .splits-category-name {
          white-space: nowrap;
          margin-right: 30px;
          position: relative;
          width: 50%;
        }

        .split-input {
          width: 70px;
          align-self: flex-end;
        }

        .split-amount {
          width: 20%;
        }
      }
    }
  }

  .footer-section {
    display: flex;
    flex-direction: column;

    .add-split-button {
      color: $_PRIMARY;
      font-size: $font-size-small;
      cursor: pointer;
      border-top: 1px solid $_FOG;
      border-bottom: 1px solid $_FOG;
      padding: 5px;
    }

    .total-amount {
      align-self: flex-end;
    }

    .save-buttons {
      align-self: flex-end;
      margin-top: 50px;
    }
  }
}
