.transaction-short-info {
  display: flex;
  font-size: $font-size-tiny;
  border-bottom: 1px solid $_FOG;
  padding-bottom: 5px;
  margin-bottom: 15px;

  img {
    width: 25px;
    height: 25px;
  }

  .top-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}
