.transaction-table-row {
  border-bottom: 1px solid $_FOG;
  cursor: pointer;
  position: relative;
  color: $_CHARCOAL;

  &:hover {
    background-color: $_PORCELAIN;
  }

  td {
    font-size: $font-size-small;
    padding: $spacing-xsmall;

    // Date
    &:nth-child(1) {
      padding-left: $spacing-xsmall;
    }

    // Amount
    &:nth-child(5) {
      text-align: right;
      padding-right: $spacing-xsmall;
    }
  }

  .category-column {
    position: relative;
  }
}
