.transaction-table {
  margin: 0px 10px 10px 10px;

  table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;

    .header-row {
      background-color: $_ASH;
      color: white;
      font-size: $font-size-small;
      font-family: $font-thin;
      text-align: left;
      width: 100%;
    }

    .total-amount-row {
      border-bottom: 1px solid $_FOG;
      background-color: $_FOG;
      height: 22px;

      td {
        position: relative;
        font-size: $font-size-small;

        .total-label {
          font-weight: 700;
          position: absolute;
          left: 5px;
          top: 4px;
        }

        .total-amount {
          font-weight: 700;
          position: absolute;
          right: 5px;
          top: 4px;
        }
      }
    }
  }

  .no-result {
    font-size: $font-size-small;
    margin: $spacing-xsmall;
  }
}
