.transaction-details {
  border: 1px solid $_FOG;

  &:focus {
    outline: none;
  }

  .details {
    display: flex;
    justify-content: space-around;
    position: relative;

    img {
      height: 55px;
      width: 55px;
      align-self: flex-start;
      margin-top: $spacing-small;
      position: absolute;
      left: $spacing-small;
    }

    .detail-wrapper {
      display: flex;
      flex-direction: column;
      margin: $spacing-small;

      input, textarea {
        font-size: $font-size-small;
        margin-bottom: $spacing-xsmall;
      }

      .datepicker {
        width: 80px;
        padding: 3px;
      }
    }

    .title-text {
      font-weight: bold;
      font-size: $font-size-small;
      text-transform: uppercase;
      margin-bottom: $spacing-xsmall;
    }

    .detail-text {
      font-size: $font-size-tiny;
      margin-bottom: $spacing-xsmall;
    }

    .manage-transactions {
      position: relative;
      margin-top: $spacing-small;

      .menu {
        display: flex;

        .menu-link {
          cursor: pointer;
          font-size: $font-size-tiny;
          color: $_PRIMARY;
          font-weight: 600;
        }

        @include caret-up($_WHITE);
        @include caret-down($_WHITE);
      }
    }

    .close-button {
      position: absolute;
      top: 0px;
      right: $spacing-xsmall;
      margin: 0px;
      height: $spacing-medium;
      @include a-tag;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .child-transactions {
    padding: 10px;
    margin-left: 100px;
    font-size: $font-size-small;

    .split-title {
      text-transform: uppercase;
      border-bottom: 1px solid $_FOG;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .edit-child-buttons {
      margin-top: 10px;
    }
  }
}
