.transaction-table-header {
  padding-top: $spacing-xsmall;
  padding-bottom: $spacing-xsmall;
  padding-left: $spacing-xsmall;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: $_WHITE;

  // Date
  &:nth-child(1) {
    width: 12%;
  }

  // Description
  &:nth-child(2) {
    width: 25%;
  }

  // Category
  &:nth-child(3) {
    width: 20%;
  }

  // Account
  &:nth-child(4) {
    width: 15%;
  }

  // Amount
  &:nth-child(5) {
    width: 15%;
  }

  &:nth-child(5) {
    text-align: right;
    padding-right: $spacing-xsmall;
  }

  .arrow-down {
    position: relative;
    top: 9px;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $_WHITE;
  }

  .arrow-up {
    position: relative;
    bottom: 7px;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid $_WHITE;
  }
}
