{{#transactions/transaction-filter
  filter=(route-action "filter")
  loadAccounts=(route-action "loadAccounts")
  loadCategories=(route-action "loadCategories")
  addTransaction=(route-action "addTransaction")
  filterByDateRange=(route-action "filterByDateRange") as |data|}}
    {{transactions/transaction-table
      loading=data.loading
      showTotal=true
      showTotalLabel="Total Amount"
      displayPage="transaction"
      rows=data.rows
      accounts=data.accounts
      categories=data.categories
      onAddCategory=(route-action "addCategory")
      onSplit=(route-action "splitTransaction")
      onRequestChildRows=(route-action "getChildRows")}}
{{/transactions/transaction-filter}}
